:host {
  margin-top: auto;
  width: 100%;
  min-height: var(--footer-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-top: 0.1rem solid var(--colorFont);
}
