﻿<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            @* TODO: Add a NotFound Page *@
            <h1>Sorry, there's nothing at this address.</h1>
        </LayoutView>
    </NotFound>
</Router>