@page "/"
<main>
    <h1>Nuclear technology portal</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dignissimos eos exercitationem laboriosam optio, tenetur.</p>
    <p>Amet, corporis debitis esse et ipsam maxime nihil non quae sapiente sint? At, expedita nemo.</p>
    <p>Aperiam asperiores, consequuntur eligendi harum quis soluta temporibus voluptates. Ad dignissimos obcaecati quia soluta veritatis?</p>
    <section>
        <h2>News</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Dolores quam suscipit vitae voluptatibus.</p>
        <p>At error eveniet fuga voluptatem.</p>
        <p>Blanditiis deleniti dolore expedita magni?</p>
        <p>Asperiores esse laborum repudiandae vero.</p>
    </section>
    <section>
        <h2>Special offer</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Dolores quam suscipit vitae voluptatibus.</p>
        <p>At error eveniet fuga voluptatem.</p>
    </section>
</main>