<a routerLink="{{ routePaths.about }}" routerLinkActive="routerLinkActive">About</a>
<a routerLink="{{ routePaths.catalog }}" routerLinkActive="routerLinkActive">Catalog</a>
<a routerLink="{{ routePaths.service }}" routerLinkActive="routerLinkActive">Service</a>
<a routerLink="{{ routePaths.contacts }}" routerLinkActive="routerLinkActive">Contacts</a>
