:host {
  min-height: var(--nav-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.1rem solid var(--colorFont);
}

.routerLinkActive {
  color: red;
}
