h2 {
  font-weight: bold;
}

h3 {
  border-bottom: 0.1rem solid var(--colorFont);
}

main {
  width: var(--mainWidth);
  display: grid;
  grid-template-columns: minmax(20rem, 15vw) 1fr;
  gap: 3rem;
}

#Filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
}

.resetButton {
  font-size: 1.5rem;
  border-top: 0.1rem solid var(--colorFont);
  border-bottom: 0.1rem solid var(--colorFont);
  border-left: none;
  border-right: none;
  background-color: var(--colorBackground);
  text-align: left;
}

.insteadOfResults {
  font-size: 4rem;
  align-self: center;
  justify-self: center;
  //border-bottom: 0.1rem solid var(--colorFont);
  //border-top: 0.1rem solid var(--colorFont);
}

thead {
  font-size: 2rem;
  color: var(--colorFont);
}

table {
  min-width: 50rem;
  height: min-content;
  border-spacing: 0 1rem;
  color: var(--colorFont);
}

th {
  text-align: left;
}

td {
  font-size: 1.5rem;
  border-top: 0.1rem solid var(--colorFont);
  border-bottom: 0.1rem solid var(--colorFont);
}

td, th {
  padding: 0 1rem;
}
