<h1>Catalog</h1>
<main id="Catalog">
  <aside id="Filter">
    <h2>Filter</h2>
    <button class="resetButton" (click)="$event">Reset all</button>
    <form [formGroup]="filter">
      <h3>Params A</h3>
      <label for="inStock"><input type="checkbox" name="inStock" id="inStock" formControlName="inStock"> inStock</label>
      <label for="inputA2"><input type="checkbox" name="inputA2" id="inputA2"> Param A-2</label>
      <label for="inputA3"><input type="checkbox" name="inputA3" id="inputA3"> Param A-3</label>
      <code style="font-size: 1.5rem">{{ filter.value | json }}</code>
      <h3>Params B</h3>
      <label for="inputB1"><input type="checkbox" name="inputA1" id="inputB1"> Param B-1</label>
      <label for="inputB2"><input type="checkbox" name="inputA2" id="inputB2"> Param B-2</label>
      <label for="inputB3"><input type="checkbox" name="inputA3" id="inputB3"> Param B-3</label>
      <button class="resetButton" (click)="filterProduct()">Apply filter</button>
    </form>
  </aside>
  <div *ngIf="loading else table" class="insteadOfResults">Loading...</div>
  <ng-template #table>
    <table id="List">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Leadtime</th>
        <th>Price</th>
      </tr>
      </thead>
      <ng-template *ngIf="productList.length === 0 && !loading else nothingFound">
        <tbody>
        <tr>Nothing found change the filter.</tr>
        </tbody>
      </ng-template>

      <ng-template #nothingFound>
        <tbody>
        <tr *ngFor="let prod of productList">
          <td>{{ prod.Id }}</td>
          <td>{{ prod.Name }}</td>
          <td>{{ prod.LeadTime === 0 ? "In&nbsp;Stock" : prod.LeadTime }}</td>
          <td>{{ prod.Price }}</td>
        </tr>
        </tbody>
      </ng-template>

    </table>
  </ng-template>
  <ng-template #nothingFound>
    <div class="insteadOfResults">Nothing found change the filter.</div>
  </ng-template>
</main>
