﻿@* <button class="navbar-toggler" @onclick="ToggleNavMenu">Nav</button> *@

<nav class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <NavLink Match="NavLinkMatch.Prefix" href="" >Profile</NavLink>
    <NavLink href="catalog">Catalog</NavLink>
    <NavLink href="cart">Cart</NavLink>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => _collapseNavMenu = !_collapseNavMenu;

}