@page "/ProductList"
@using Models

<main>
    <aside id="Filter">
        <h2>Filter</h2>
        <button class="resetButton" (click)="$event">Reset all</button>
        <form>
            <h3>Params A</h3>
            <label for="inStock"><input type="checkbox" name="inStock" id="inStock"> inStock</label>
            <label for="inputA2"><input type="checkbox" name="inputA2" id="inputA2"> Param A-2</label>
            <label for="inputA3"><input type="checkbox" name="inputA3" id="inputA3"> Param A-3</label>
            <h3>Params B</h3>
            <label for="inputB1"><input type="checkbox" name="inputA1" id="inputB1"> Param B-1</label>
            <label for="inputB2"><input type="checkbox" name="inputA2" id="inputB2"> Param B-2</label>
            <label for="inputB3"><input type="checkbox" name="inputA3" id="inputB3"> Param B-3</label>
            <button class="resetButton" (click)="filterProduct()">Apply filter</button>
        </form>
    </aside>
    <table id="List">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Leadtime</th>
            <th>Price</th>
        </tr>
        </thead>

        @* Show this if product list is empty  *@
        <tbody>
        <tr>Nothing found change the filter.</tr>
        </tbody>

        <tbody>
        <tr>
            <td>{{ prod.Id }}</td>
            <td>{{ prod.Name }}</td>
            <td>{{ prod.LeadTime === 0 ? "In&nbsp;Stock" : prod.LeadTime }}</td>
            <td>{{ prod.Price }}</td>
        </tr>
        </tbody>
    </table>
</main>

@code {
    private List<ProductT<Dictionary<string, string>>> _products;

    protected override void OnInitialized()
    {
        _products = new List<ProductT<Dictionary<string, string>>>();
    }

}