@import "root";
@import "transitions";
@import "headers";

* {
  box-sizing: border-box;
}

/* Scroll START */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
  background: var(--colorCyanC);
}
/* Scroll END */


html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorBackground);
  font-family: Consolas, monospace;
}

@media (max-width: 1000px) {
}
