h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Consolas, monospace;
}

h1 {
  font-size: 3.5rem;
  margin: 5rem 0 3rem 0;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--colorFont);
}

h2 {
  font-size: 2.05rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--colorFont);
}

h3 {
  font-size: 2.05rem;
  font-weight: 500;
  // text-transform: uppercase;
  color: var(--colorFont);
}

h4 {
  font-size: 1.75rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

h5 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--colorCyanC);
  font-weight: lighter;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

h1,
h2,
h3, {
  span {
    font-size: 0.5em;
    vertical-align: super;
    padding: 0;
    margin: 0;
    line-height: 0;
  }
}

a {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--colorFont);
}

button, label {
  color: var(--colorFont);
}

.padding-bottom {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.25rem;
    margin: 3rem 0 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}
