
:root {
	--colorFont: rgb(41, 41, 41);
	--colorBackground: rgb(250, 250, 250);
	--colorCyanC: rgb(0, 159, 223);
	--colorRed: rgb(235, 35, 35);
	--mainWidth: 75vw;
  --nav-height: 3rem;
  --footer-height: 3rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--colorFont: rgb(250, 250, 250);
		--colorBackground: rgb(41, 41, 41);
		--colorCyanC: rgb(0, 159, 223);
		--colorRed: rgb(235, 35, 35);
	}
}

@media (min-width: 1001px) and (max-width: 1440px) {
}

@media (max-width: 1000px) {
	:root {
		--mainWidth: 90vw;
	}
}
