:root {
  --colorFont: rgb(41, 41, 41);
  --colorBackground: rgb(250, 250, 250);
  --colorCyanC: rgb(0, 159, 223);
  --colorRed: rgb(235, 35, 35);
  --mainWidth: 75vw;
  --nav-height: 3rem;
  --footer-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorFont: rgb(250, 250, 250);
    --colorBackground: rgb(41, 41, 41);
    --colorCyanC: rgb(0, 159, 223);
    --colorRed: rgb(235, 35, 35);
  }
}
@media (max-width: 1000px) {
  :root {
    --mainWidth: 90vw;
  }
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Consolas, monospace;
}

h1 {
  font-size: 3.5rem;
  margin: 5rem 0 3rem 0;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--colorFont);
}

h2 {
  font-size: 2.05rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--colorFont);
}

h3 {
  font-size: 2.05rem;
  font-weight: 500;
  color: var(--colorFont);
}

h4 {
  font-size: 1.75rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

h5 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--colorCyanC);
  font-weight: lighter;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: var(--colorFont);
}

h1 span,
h2 span,
h3 span {
  font-size: 0.5em;
  vertical-align: super;
  padding: 0;
  margin: 0;
  line-height: 0;
}

a {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--colorFont);
}

button, label {
  color: var(--colorFont);
}

.padding-bottom {
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.25rem;
    margin: 3rem 0 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }
}
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-grow: 0;
  border-bottom: 0.1rem solid var(--colorFont);
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-grow: 0;
  border-top: 0.1rem solid var(--colorFont);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
}

/* Scroll START */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
  background: var(--colorCyanC);
}

/* Scroll END */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorBackground);
  font-family: Consolas, monospace;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

#Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  width: var(--mainWidth);
}

/*# sourceMappingURL=styles.css.map */
