@import "root";
@import "headers";
@import "blazor-ui.scss";
@import "./components/nav";
@import "./components/footer";
@import "./components/header";

* {
	box-sizing: border-box;
}

/* Scroll START */
*::-webkit-scrollbar {
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	background: var(--colorBackground);
}

*::-webkit-scrollbar-thumb {
	background: var(--colorCyanC);
}
/* Scroll END */

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorBackground);
	font-family: Consolas, monospace;
}

//Blazor
.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

#Page {
	display: flex;
	flex-direction: column;
  align-items: center;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	width: var(--mainWidth);
}